html
{
height=100%;
width=100%;
}
body
{
height=100%;
width=100%;
background-color:#C6D5E7;
}

#logindiv
{
position:absolute;
float:Left;
top:0%;
left=0%;
height=15%;
width=100%;
padding=12px;
background-color:#3A5799;
color:"White";
}

#imgfb
{position:absolute;

top:0%;
left=20%;
height=70%;
width=30%;
background-color:#3A5799;
}

#loginform
{position:absolute;
float:right;
top:20px;
left:680px;
right=5%;
height=10%;
width=30%;
}



#advdiv
{float:left;

position:absolute;
top:0%;
left=10%;
height=80%;
width=40%;
text-align="left";
padding=10px;
}

#signupdiv
{
float:right;
position:absolute;
top:0%;
left=55%;
height=80%;
width=25%;
padding=1px;
}
#bottomdiv
{
position:absolute;
top:590px;
left=0%;
height=15%;
width=100%;
background-color:white;
padding=15px;

}

#SU{font-size=30px}
#fr{font-size=13px}
#reason{font-size=13px}
input{font-size=20px; color:"Grey"}
#LI{font-size=15px}
#Login{font-size=15px}
a{color: "Blue";
text-decoration:none;}
a:hover
{ 
color:blue;
text-decoration:underline; 
} 
#reas{font-size=13px}
#reas:hover
{color:blue;
text-decoration:underline; }
#tablebot{font-size=13px}
#chat{font-size=25px;Bold;color:"Black"}
#mail{color:"White";font-size=11px}


#wrap
{    
     position:relative;
     width:900pt;
     height:80%;
     top:100px;
     left:0%; 
text-align: Justify;
}

